/*HEX COLORS

red #DEAF5B
charcoal #1F3A49
light-gray #F2F2F2
primary yellow #DEAF5B
*/


body{
	background-color: black;
}

body h1{
	font-family: "Open Sans", sans-serif;
	font-weight: bold;
	font-size: 30px;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 2pt;
}

body h2{
	font-family: "Open Sans", sans-serif;
	font-weight: bolder;
	font-size: 25px;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 1.5pt;
}

body h5{
	font-family: "Open Sans", sans-serif;
	font-weight: bolder;
	font-size: 20px;
	text-transform: uppercase;
	text-align: center;
}


body p{
	font-family: "Open Sans", sans-serif !important;
	font-weight: lighter;
	font-size: 14px;
	letter-spacing: .5pt;
}

body button{

	border-radius: 0 !important;
	font-family: 'Open Sans', sans-serif !important;
	font-style: normal;
	font-weight: 700 !important;
	text-transform: uppercase;
	/*padding-right: 30px !important;*/
	/*padding-left: 30px !important;*/
}

body a{
	font-family: "Open Sans", sans-serif;
	font-weight: normal;
}

/*.hype-video {

	width:100%;
	height:100%;
	position:absolute;

}*/

.navbar{
	background-color: #1F3A49 !important;
}

.navbar .navbar-brand {

	background-image:url("../img/logo-header.png");
	background-size: cover;
	background-repeat: no-repeat;
	width: 166px !important;
	height: 80px !important;
	padding-top: 0px !important;
	margin-left: 40px !important;
}

.navbar{

	border-color: #5D5546 !important;
}

.navbar a{
	font-size: 15px;
	color: #EEF4F2 !important;
}
.navbar a:hover{
	color: #DEAF5B !important;
}

.navbar-toggle{

	background-color: transparent !important;
	color: #5D5546 !important;
	border-color: #EEF4F2 !important;
	margin-top: 22px !important;

}
.navbar-toggle:hover{

	border-color: #DEAF5B !important;
}
.navbar-toggle:active{

	border-color: #DEAF5B !important;
}


.navbar-toggle .icon-bar{

	background-color: #EEF4F2 !important;
}

.navbar-toggle:hover .icon-bar{

	background-color: #DEAF5B !important;
}


.icon-bar {
	background-color: gray;
}

.navbar-right {
	margin-right: 40px !important;
}

.navbar-nav li a{
	line-height: 50px !important;
}

.hype-video-embed{

	width: 100%;
	height: 500px;
}

.hero-container{

	margin-top: 80px; /* nav bar height */
	/*height: 811px;*/

	/*border: 5px solid red;*/

}

.hero-unit {

	position: relative;

    background-image:url('../img/city.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    max-height: 811px;
    height: 811px;

}

.hero-img{
	position: absolute;
}

.hero-brand{

    max-width:  563px;
    max-height: 308px;

    margin-left: auto;
    margin-right: auto;

    top: 25px;
}

.play-btn-container{

	position: relative;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	width: 3000px;

	top: 50px;
}

.play-btn{

	cursor: pointer;
	display: inline-block;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	max-width: 112px;
}

.hero-content-box-container{

	position: absolute;
	width: 100%;
	bottom: 25px;
}


.hero-content-box-container .row{
	max-width: 650px;
	margin:	auto;
}


.hero-content-box{

	background-color: #DEAF5B;
	min-width: 150px;
	max-width: 725px;

	padding-bottom: 20px;

    margin-left: auto;
    margin-right: auto;
}

.hero-subheader{

	color: white;
  	display: block;
  	margin-right: auto;
  	font-size: 25px;
  	text-align: center;

}

.subscribe-container{

    overflow: hidden;
    position: relative;
}


.subscribe-msg {

	margin-bottom: 15px;
	color: #1F3A49;
	text-align: right;

}@media (min-width: 100px) and (max-width: 767px){

	.subscribe-msg{
		text-align: center;
	}
}

.subscribe-btn{

	color: #1F3A49;
	background-color: #F2F2F2;
	font-size: 20px !important;

	width: 100% !important;
}
.subscribe-container .btn:focus,.btn:active:focus,.btn.active:focus,
.btn.focus,.btn:active.focus,.btn.active.focus {
    outline: none;
}

#about-section, #team-section, #sponsors-section {

	width: 100%;
	padding-top: 100px;
}
#sponsors-section .logos {
	margin-bottom: 40px;
}
aside {
	padding-top: 30px;
}

.container {
	max-width: 970px!important;
}

#sponsors-section a.button {
	background-color: #1F3A49;
	color: #fff;
	display: block;
	font-size: 20px;
	height: 42px;
	line-height: 42px;
	margin: 40px auto 0 auto;
	text-align: center;
	text-transform: uppercase;
	width: 230px;
}
#sponsors-section a.button:hover {
	background-color: #DEAF5B;
	text-decoration: none;
}
#sponsors-section a.button:active {
	background-color: #b18434;
}
.logos {
	float: none!important;
	margin: 50px auto 0px auto!important;
	padding-bottom: 50px;
}
.logos img {
	display: block;
	height: auto;
	margin: 25px auto;
	max-width: 100%;
}
.logos figcaption {
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
}
#platinum figcaption {
	color: #5c5c5c;
}
#gold figcaption {
	color: #ddae5b;
}
#in-kind figcaption {
	color: #b0b0b0;
}
#humana {
	height: 52px;
	margin-bottom: 75px;
	width: 260px;
}
#nationwide {
	height: 94px;
	width: 94px;
}
.top-margin {
	margin-top: 35px!important;
}
.sponsor-icon {
	display: block;
	height: 50px;
	margin-top: 80px!important;
	width: 54px;
}
#sponsors-section .content-box {
	border: 3px solid #1f3a49;
}
#about-section, #sponsors-section {
	background-color: #F2F2F2;
}
#about-section h1, #sponsors-section h1 {
	color: #DEAF5B;
}
#about-section p{

	color: #1F3A49;
}
#about-section .content-box{

	border: 3px solid #DEAF5B;
}
.centered {
	text-align: center;
	max-width: 100%!important;
}

#team-section{

	background-color: #1F3A49;
	padding-bottom: 100px;
}
#team-section h1{

	color: #DEAF5B;
}
#team-section p{

	color: #F2F2F2;
}
#team-section .content-box {

	/*border: 3px solid #DEAF5B;*/
	border: 3px solid #5D5546;
}

#subscribe_section {
}

#subscribe_modal{

}
#subscribe_modal .modal-body{
	height: 550px;
}

#subscribe_modal iframe body{
	background-color: #1F3A49;
}

.content-box{

	margin-right: auto;
	margin-left: auto;
	padding-top: 20px;
	padding-bottom: 45px;
	max-width: 725px;

	/*how to center this vertically?*/
} .content-box h1{

	padding-bottom: 20px;
} .content-box p{

	text-align: center;
	padding-left: 10%;
	padding-right: 10%;
	line-height: 20px;
}


#footer_wrapper {
    background-color: #F2F2F2;
}

#footer_wrapper p, #footer_wrapper {
    background-position: center bottom;
    color: #1F3A49;
}

#footer_wrapper {
    padding: 50px 0 20px 0;
    margin-top: -1px;
}

.footer{

	margin: 0 auto;
    font-size: 12px;
    display: block;
}

.footer-section h5{
	margin-bottom: 20px;
}

.footer-section hr{
	border: 1px solid #1F3A49;
}

.footer-sections {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.footer-section {
	position: absolute;
	margin-top: 40px;
	text-align: center;
}

.footer-section a{
	text-decoration: underline;
	text-align: center;
}

.footer-section ul{
	list-style-type: none;
	text-align: center;
	padding: 0px 0px 0px 0px !important;
}

.footer-section button{
	background-color: #DEAF5B;
	color: #EEF4F2;

	width: auto !important;
	margin-left: auto;
	margin-right: auto;

	float: none !important;

}

#social_section .fa{
	/*padding: 5px;*/
	padding-top: 10px;
	margin-right: 5px;
	color: #DEAF5B;
}

.footer-section .social-btn-container{
	/*position: absolute;*/
	/*margin: 0 auto;*/

	text-align: center;
	margin-bottom: 15px;
}

.social-btn-container a{
	display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}


.subscribe-footer{

	/*position: relative;
	width: 80%;
	height: 60px;
	margin: 0 auto;
	padding: 10px;
    bottom: 0px;
    max-width: 680px;
    margin-left: auto;
    margin-right: auto;*/

}

.copyright{

	padding-top: 50px;
	text-transform: uppercase;
    font-size: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-right: 30px;
    padding-left: 30px;
    text-align: center;
}

.col-centered{
	float: none !important;
	margin: 0 auto !important;
}

.modal-content{
	background-color: transparent !important;
	border-radius: 0px !important;
	border: none !important;

	overflow: auto !important;
}

.modal .modal-close-btn{

	color: #1F3A49;
	background-color: #DEAF5B;
	border: none;
	font-size: 25px;
	line-height: 25px;

	/*border-radius: 50px !important;*/

	width: 40px;
	height: 40px;
	text-align: center;
	cursor: pointer;

	padding: 6px 0;
	position: fixed;
	right: -40px;
	top: 20px;

	/*float: right;*/
	/*position: relative;*/
	z-index: 1000;
}

.modal-body {

	border-radius: 0;
	margin: auto 0;
	padding: 0 !important;
}

.modal-body iframe{
	border: none;
	padding: 0px;
}

#video_modal .modal-body{
	/*padding: 10px !important;*/
	/*background-color: #1F3A49 !important;*/
}

#mc_embed_signup{
	color: #DEAF5B;
	background: #1F3A49;
	padding-bottom: 75px;
}

#mc_embed_signup h2{
	font-size: 25px !important;
}

#mc_embed_signup label{

	font-family: "Open Sans", sans-serif;
	font-weight: normal;
	color: #EEF4F2;
	margin-left: 7.5% !important;
}

#mc_embed_signup .mc-field-group {

	padding-bottom: 5% !important;
}

#mc_embed_signup .mc-field-group input{

	font-family: "Open Sans", sans-serif;
	font-weight: normal;
	width: 85% !important;
	margin: auto !important;
	color: #1F3A49 !important;
	background-color: #EEF4F2;

}

#mc_embed_signup .mc-field-group .asterisk {
	right: 10% !important;
}

#mc_embed_signup .button{

	height: auto !important;
	border-radius: 0 !important;
	background-color: #DEAF5B !important;
	color: #1F3A49 !important;
	float: right !important;
	padding-top: 5px !important;
	padding-bottom: 5px !important;
	padding-right: 25px !important;
	padding-left: 25px !important;

	margin: 15px 11% 0% 0% !important;

	font-family: 'Open Sans', sans-serif !important;
	font-style: normal;
	font-weight: 700 !important;
	text-transform: uppercase;
	font-size: 20px !important;

}

.mce_inline_error{
	width: 85% !important;
	margin: auto !important;
}

#mc_embed_signup .response{

	font-family: 'Open Sans', sans-serif !important;
	font-style: normal;
	font-weight: 700 !important;
	font-size: 14px !important;
	margin: auto !important;

}

#hype-video-mobile-only{
}

#hype-video-mobile-only iframe{
}

aside li {
    margin-bottom: 1.6em;
}
/*SPONSORS STYLING*/
li {
    font-family: "Open Sans", sans-serif !important;
    font-weight: lighter;
    list-style-position: inside;
    line-height: 1.6;
}
.sponsors-wrapper h2, .sponsors-wrapper h1 {
    color: #deaf5b;
    margin-top: 0;
    text-align: left;
}
.sponsors-wrapper ul {
    padding-left: 0;
}
.sponsors-wrapper p {
    max-width: 87.5%;
}
.sponsors-wrapper aside li {
    list-style: none;
    list-style-type: none;
    font-weight: bold;
    font-size: 16px;
}
.sponsors-wrapper aside li span {
    color: #deaf5b;
}
.sponsors-wrapper aside .sub-li {
    color: #333;
    font-weight: normal;
    font-style: italic;
}
.sponsors-wrapper aside a {
    display: block;
    margin-top: 15px;
}
a {
    color: #3394ca;
}
a:hover, a:active {
    color: #1f3a49;
}
a:visited {
    color: #d46c3e;
}

.sponsors-hero {
    position: relative;

    background-image:url('../img/buildings_in_downtown_louisville_2800x537.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    margin-top: 80px;
    height: 240px;
}

.conference-level-wrapper {
    background-color: #F2F2F2;
}
.conference-level-wrapper p, .callout {
    font-size: 14px;
    font-weight: normal;
}

.event-level-wrapper {
    background-color: #e7ebed;
}

.humana-logo {
	background: url('../img/humana-sprite.png') left top no-repeat;
	display: block;
	background-size: cover;
	height: 51px;
	width: 246px;
	margin: 0 auto;
	text-indent: -9999px;
}
.humana-logo:hover {
	background-size: cover;
	background-position: -246px top!important;
}

.inkind-sponsor {
	color: #b0b0b0;
	text-decoration: none;
}
.inkind-sponsor:hover, .inkind-sponsor:active {

}
.inkind-sponsor:visited {

}

.nationwide-logo {
 	background: url('../img/nationwide-sprite.png') left -94px no-repeat;
	display: block;
	background-size: cover;
	height: 94px;
	width: 94px;
	margin: 0 auto;
	text-indent: -9999px;
}
.nationwide-logo:hover {
	background-size: cover;
	background-position: left top!important;
}
.logos figure {
	margin-bottom: 20px;
}
.content-wrapper {
	max-width: 1170px;
	margin: 0 auto;
}

.sponsor-guide-wrapper, .conference-level-wrapper, .artist-level-wrapper, .event-level-wrapper, .current-sponsors-wrapper {
    padding: 30px 0;
}

.pdf-link i {
	color: #1f3a49;
	margin-right: 10px;
}

.contact-link i {
	color: #1f3a49;
	margin-right: 10px;
}

 /* Large desktop */
@media (min-width: 1200px) {
	.container {
		width: 970px!important;
	}
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
	.sponsors-wrapper aside li {
		font-size: 14px;
	}
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	body h1{
		font-size: 25px;
	}

	body h2{
		font-size: 20px;
	}
	.hero-unit {
		height: 625px;
	}
	.hero-content-box-container{
		bottom: 10%;
	}
}
/* Landscape phones and down */
@media (max-width: 480px) {
	.hero-unit {
		height: 550px;
	}
    .sponsors-wrapper p {
        max-width: 100%;
    }
}
@media (max-width: 400px) {
    .sponsors-hero {
        height: 120px;
    }
}